/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* estilo Pane "Painel" da pagina da calculadora de IMC */
#pnIMC{
    -fx-background-radius: 22px;
    -fx-background-color: rgba(61, 61, 61, 1);
}

/* estilo Button "Button Calc IMC" da pagina da calculadora de imc */
#btnCalcIMC{
    -fx-background-radius: 50px;
    -fx-background-color: rgba(41, 82, 96, 1);
    -fx-text-fill: white;
}

/* estilo Text Field "Text Peso" da pagina da calculadora de IMC */
#txtPeso{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;  

}

/* estilo Text Field "Text Altura" da pagina da calculadora de IMC */
#txtAltura{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;  

}
